<app-header></app-header>
<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Purchase List</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Supplier Name</ion-label>
        <ion-label>Date</ion-label>
        <ion-label>Bill No</ion-label>
      </ion-item>
    </ion-list>
    <ion-list (click) = "presentActionSheet()">
      <ion-item>
        <ion-label>Divine</ion-label>
        <ion-label>2019-06-16</ion-label>
        <ion-label>124</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
