<app-header></app-header>
<ion-content>
  <ion-card >
    <ion-card-header color="primary">
      <ion-card-title>Products</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label >S.No.</ion-label>
        <ion-label >Title</ion-label>
        <ion-label >Scale</ion-label>
        <ion-label >Category</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>1</ion-label>
        <ion-label>Tuborg</ion-label>
        <ion-label>Cartoon</ion-label>
        <ion-label>Beer</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>