<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hotel Inventory</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add Raw Material</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Raw Material Title</ion-label>
        <ion-input placeholder="raw material title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Measurement Scale</ion-label>
        <ion-input placeholder="measurement scale"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-text>Raw material</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-input placeholder="category"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="button" color="primary" slot="end">Save</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>