<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hotel Inventory</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add Product</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Product Title</ion-label>
        <ion-input placeholder="Product title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Measurement Scale</ion-label>
        <ion-input placeholder="measurement scale"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select>
          <ion-select-option value="service">Service</ion-select-option>
          <ion-select-option value="add-on">Add-on</ion-select-option>
          <ion-select-option value="product">Product</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-input placeholder="category"></ion-input>
      </ion-item><br>
      <ion-label style="float: right">
        <ion-button slot="end" type="button" color="primary">Save</ion-button>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>