<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hotel Inventory</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Supplier Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>S.No.</ion-col>
          <ion-col>1</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Supplier Name</ion-col>
          <ion-col>Divine</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Address</ion-col>
          <ion-col>Bharatpur 27</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Contact No.</ion-col>
          <ion-col>802048088024</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>