<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hotel Inventory</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Purchase Detail</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-text>Divine</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>2019-06-16kajdgslhdkgakldghasjldgkjasjlgkhjaldgka.,jgaldskgjasldkghad</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>24683068lasjdglkajdkglkasdjglka,sdhgnlkadghnalkdgjnaldkhgjalskdgjlakd</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>