<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hotel Inventory</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Purchase Detail</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                Supplier Name
              </ion-col>
              <ion-col>
                Divine akjfgluop ;jdgla,dgoplakdjg ;kahdg
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Date & Time
              </ion-col>
              <ion-col>Thu Jul 18, 16:40</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Bill No.
              </ion-col>
              <ion-col>
                123424
              </ion-col>
            </ion-row>
            <hr>
            <ion-list style="margin-left: 15px">
              <ion-row>
                <ion-col>Products</ion-col>
                <ion-col>Rate</ion-col>
                <ion-col>Quantity</ion-col>
                <ion-col>Scale</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h4>Gorkha</h4>
                </ion-col>
                <ion-col>
                  <h4>3600</h4>
                </ion-col>
                <ion-col>
                  <h4>5</h4>
                </ion-col>
                <ion-col>
                  <h4>Cartoon</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h4>Coca-Cola</h4>
                </ion-col>
                <ion-col>
                  <h4>2200</h4>
                </ion-col>
                <ion-col>
                  <h4>5</h4>
                </ion-col>
                <ion-col>
                  <h4>Cartoon</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h4>Arna</h4>
                </ion-col>
                <ion-col>
                  <h4>2600</h4>
                </ion-col>
                <ion-col>
                  <h4>5</h4>
                </ion-col>
                <ion-col>
                  <h4>Cartoon</h4>
                </ion-col>
              </ion-row>
            </ion-list>
            <hr>
            <ion-row>
              <ion-col>Amount</ion-col>
              <ion-col>42000</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Status</ion-col>
              <ion-col>Paid</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>