<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hotel Inventory</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Purchase Detail</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                Supplier Name
              </ion-col>
              <ion-col>
                Divine akjfgluop ;jdgla,dgoplakdjg ;kahdg
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Date & Time
              </ion-col>
              <ion-col>Thu Jul 18, 16:40</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Bill No.
              </ion-col>
              <ion-col>
                123424
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Product Lists
              </ion-col>
              <ion-col>
                <ion-list>
                  <ion-item>
                    <ion-label>
                      <h3>Demo</h3>
                      <h3>Demo</h3>
                      <h3>Demo</h3>
                      <h3>Demo</h3>
                      <h3>Demo</h3>
                      <h3>Demo</h3>
                      <h3>Demo</h3>
                      <h3>Demo</h3>
                      <h3>Demo</h3>
                      <h3>Demo</h3>
                      <h3>Demo</h3>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>