<ion-app>
  <ion-menu side="start" contentId="first">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/category">Category</ion-item>
        <ion-item routerLink="/product">Product</ion-item>
        <ion-item routerLink="/product/raw-material">Raw Material</ion-item>
        <ion-item routerLink="/supplier">Supplier</ion-item>
        <ion-item routerLink="/purchase">Purchase</ion-item>
        <ion-item routerLink="/sales">Sales</ion-item>
        <ion-item>Order</ion-item>
        <ion-item>Inventory Items</ion-item>
        <ion-item>Production</ion-item>
        <ion-item>Reports</ion-item>
        <ion-item>Setting</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="first"></ion-router-outlet>
</ion-app>