.accordion-list{
    background: #fff;
    height: 100%;
}
.section{
    background: #fff;
    color:#000;
    margin-bottom: 4px;
}
.session-active{
    background: skyblue;
    color: #fff;
}

.child{
    background: #e8e7e6;
    color:#000;
    margin-bottom: 4px;

}
.child_item{
    background: #f3f2f1;
    padding: 10px;
}