<app-header></app-header>
<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Sales</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-label>Amount</ion-label>
        <!-- <ion-label>Description</ion-label> -->
        <ion-label>Status</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>2019-07-18 14:45</ion-label>
        <ion-label>5000</ion-label>
        <!-- <ion-label></ion-label> -->
        <ion-label>Paid</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>