<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hotel Inventory</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add Supplier</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Supplier Name</ion-label>
        <ion-input placeholder="supplier name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Address</ion-label>
        <ion-input placeholder="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contact Number</ion-label>
        <ion-input placeholder="contact number"></ion-input>
      </ion-item><br>
      <ion-label style="float: right">
        <ion-button slot="end" type="button" color="primary">Save</ion-button>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>