<ion-content>
  <ion-card id="mainCard">
    <ion-card id="data">
      <ion-card-header>
        <ion-title>Products</ion-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card id="anotherData">
      <ion-card-header>
        <ion-title>Raw Materials</ion-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #anotherCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-title>Daily Outline</ion-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>