<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hotel Inventory</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add Category</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Category Title</ion-label>
        <ion-input placeholder="Category title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button slot="end" type="button" color="primary">Save</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>